table {
  text-align: center;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
table#search {
	min-height: 200px;
}
table#result tr {
	height : 50px;
}
table tr, table td{
  border : 1px solid black;
}

.gray {
  background-color: rgb(127, 127, 127, 0.5);
}

div#searchbtnbox {
  display: inline-block;
  margin: 30px 200px 30px 200px; 
}
div#btnbox {
  display: inline-block;
  margin: 30px 200px 30px 50px;
  float: right;
}

button {
  width : 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

#paging {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}
div.pagination a{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color : black;
}
div.pagination a.focus,
div.pagination a.active {
  text-decoration: none;
}

a#now {
  background-color: rgba(34, 32, 117);
  color : white;
  pointer-events: none;
  cursor: default;
}
div.pagination a.disabled {
  pointer-events: none;
  cursor: default;
  color : rgb(128, 128, 128, 0.5);
}